/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 
/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
	overflow-x: hidden;
    background: #fafafa;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper , #superframe{
    width: 100%;
    position: absolute;
}
#body-box{
/*
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
*/
}
.login-box{

    z-: 1000;index
    width: 100%;
	margin-top:20%;
	padding:10px 10px;
}
.left-login-box{
    z-: 1000;index
    width: 100%;
	margin-top:25%;
	padding:10px 10px;
}

#wrapper.toggled #page-content-wrapper.toggled , #superframe.toggled{
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ff4038;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ff4038;
    background: #f5f5f5;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li .active{
    text-decoration: none;
    color: #ff4038;
    background: #f5f5f5;
	font-weight:bold;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
	color:#ff4038;
}

.sidebar-nav > .sidebar-brand a:hover {
	color:#ff4038;
    background: none;
}

/* sub-menu Styles */

.sub-menu {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-menu li {
    text-indent: 40px;
    line-height: 40px;
}

.sub-menu li a {
    display: block;
    text-decoration: none;
    color: #ff4038;
}

.sub-menu li a:hover {
    text-decoration: none;
    color: #ff4038;
    background: #f5f5f5;
}

.sub-menu li a:active,
.sub-menu li a:focus {
    text-decoration: none;
    color: #ff4038;
    background: #f5f5f5;
}
.sub-menu li .active{
    text-decoration: none;
    color: #ff4038;
    background: #f5f5f5;
	font-weight:bold;
}

.sub-menu > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sub-menu > .sidebar-brand a {
    color: #999999;
}

.sub-menu > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.black-div{
	padding:10px 20px 10px 30px;
	background-color:#ff4038;
	color:#fff;
}
label.error {
	font-weight:100;
    color: red;
    font-style: italic;
	margin-left:5px;
	margin-top:10px;
}
.btn-indicator{
	padding:.1px 8px;
	border:none;
}

.red-div{
	padding:10px 20px 10px 30px;
	background-color:#ff4038;
	color:#333;
}
.normal-div{
	/*padding:10px 20px 10px 30px;
	background-color:#fafafa;*/
	color:#333;
}
.borderless{
	border:none;
}
span.block{
	display:block;
}

.page-title{
	margin-bottom:0px;
}

.row-title{
	margin-top:0px;
}
a{
	text-decoration:none;
	color:inherit;
}
a:hover{
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

.black-div #menu-toggle{
	cursor:pointer;
}
.black-div #user-toggle{
	cursor:pointer;
}
#menu-toggle.glyphicon-th-list {
    font-size: 1.4em;
}

.logo-box{
	margin-top:35%;
}
.logo-image{
	width:300px;
}

.panel-red .panel-heading{
	background-color:#ff4038;
	color:#fff;
}
.panel-red{
	border:#ff4038 1px solid;	
	color:#686d76;
}

.center{
	text-align:center;
}

/* Let's get this party started */
::-webkit-scrollbar {
	width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #b5b3b3; 
	-webkit-box-shadow: inset 0 0 6px #b5b3b3; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #f5f5f5; 
}	

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
		overflow-x: hidden;
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px 15px 0px 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
	.login-box{
		z-: 1000;index
		width: 100%;
		margin-top:50%;
		padding:10px 10px;
	}
	
	/* Let's get this party started */
	::-webkit-scrollbar {
		width: 7px;
	}
	 
	/* Track */
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: #b5b3b3; 
		-webkit-box-shadow: inset 0 0 6px #b5b3b3; 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: #f5f5f5; 
	}	
	
	span.caret{
		margin-right:10px;
	}
	.tree{
		font-size:11px;
	}
}