.autocomplete_list * { font-family: Tahoma, Verdana, Arial; font-size: 11px; }
.autocomplete_list { background: #eeeeee; display: block; border: 1px solid #888; text-align: left; z-index: 999; }
.autocomplete_list b { font-weight: bold; }
.autocomplete_list, .autocomplete_list ol, .autocomplete_list li { list-style-type: none; margin: 0; padding: 0; }
.autocomplete_list .item { margin: 0px; padding: 4px 8px; text-align: left; cursor: pointer; }
.autocomplete_list .current_item { background: #ffd563; color: #000; }
.autocomplete_list span { color: #4d4d4d; float: right; padding-left: 20px; }

.autocomplete_text { background-image: url(autocomplete_leftcap.gif); background-position: right; background-repeat: no-repeat; }
.autocomplete_text_busy { background-image: url(autocomplete_spinner.gif);}

.tdhilite { background-color: #ffd563; color: #000; }
.tdnormal { background-color: white; color: black; }
