#blanket {
   background-color:white;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
    position:absolute;
    margin-top: 10%;
    /*margin-left: 10%;*/
    background:white;
    width:500px;
    height:100px;
    border:1px solid #000;
    z-index: 9002;
}
#popup_center {
    margin:5% 20% 12% 30%;
}
#button_ok {
    color: red;
    margin-left : 15%;
    padding: 5 20 5 20;
}
#button_cancel {
    color: red;
    padding: 5 20 5 20;
}

<!--[if lt IE 9]> 
  #blanket {
    filter:alpha(opacity=65);    
  } 
<![endif]-->